.container {
    min-width: auto;
    margin: 10px auto 0;
    display: table;
    min-height: 100vh;
    overflow-x: hidden;
}

.row {
    margin: 2px 0;
}

.column {
    display: table-cell;
}

.catepart {
    /* padding: -60px; */
    margin: 0px;
    min-height: 100vh;
    background-color: #fff;
}

.table {
    width: 1100px;
    min-height: 100vh;
}

.part_container {
    min-height: 100vh;
    background-color: #fff;
}

.border {
    border: 8px solid rgb(221, 221, 221);
}
.part_search {
    margin-left: 570px;
}
.category_name
{
    margin-top: -40px;
}